<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/head'); %>
  </head>

  <body class="container">
    <header><%- include('../template/nav'); %></header>

    <main>
      <div class="container-fluid">
        <form action="/login" method="POST">
          <label for="input_email">Email: </label>
          <input type="text" name="input_email" />
          <label for="input_password">Password: </label>
          <input type="password" name="input_password" />
          <input
            class="btn btn-success btn-block"
            type="submit"
            value="Log In"
          />
        </form>
      </div>
    </main>

    <footer><%- include('../template/footer'); %></footer>
  </body>
</html>
